::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000; 
  border-radius: 20px
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
